# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
node_modules/
/.pnp
.pnp.js

# testing
/coverage

# production
build/

# misc
.DS_Store
.env.development.local
.env.test.local
.env.production.local

__pycache__

# distribution files
dist/

.docusaurus
# generouted
router.ts

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

dist-ssr
*.local
.vite

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Test taskflow configs
_*.config.ts

# Cypress
**/cypress/screenshots/

# Cache
.eslintcache