name: CI

on:
  push:
  pull_request:
    types: [opened, reopened]

jobs:
  frontend-lint:
    runs-on: ubuntu-22.04
    defaults:
      run:
        working-directory: templates/base-app/frontend
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: '20'
      - name: Install taskflow dependencies
        run: npm install
      - name: Run ESLint
        run: npm run lint:fix
      - name: Run Prettier
        run: npm run prettier:fix
  cypress-tests:
    runs-on: ubuntu-22.04
    defaults:
      run:
        working-directory: templates/base-app/frontend
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      # Install npm dependencies, cache them correctly
      # and run all Cypress tests
      - name: Cypress run
        uses: cypress-io/github-action@v6
        with:
          working-directory: templates/base-app/frontend
          browser: chrome
          start: npm start
  backend-lint:
    runs-on: ubuntu-22.04
    strategy:
      fail-fast: false
      matrix:
        package:
          - templates/base-app/backend
          - templates/compare-data/backend
          - templates/contribute-data/backend
          - templates/explore-data/backend
          - templates/monitor-activities/backend
          - templates/run-computation/backend
          - templates/search-data-repositories/backend
    defaults:
      run:
        working-directory: ${{ matrix.package }}
    steps:
    - uses: actions/checkout@v4
    - name: Install uv
      uses: astral-sh/setup-uv@v7
    - name: Install dependencies
      run: uv sync --extra dev
    - name: Lint with ruff
      run: uv run ruff check .
    - name: Format with ruff
      run: uv run  ruff format . --check
