name: CI

on:
  push:
  pull_request:
    types: [opened, reopened]

jobs:
  frontend-lint:
    runs-on: ubuntu-22.04
    
    strategy:
      fail-fast: false
      matrix:
        package:
          - packages/react-components
          - templates/base-app/frontend
          - templates/compare-data/frontend
          - templates/contribute-data/frontend
          - templates/explore-data/frontend
          - templates/monitor-activities/frontend
          - templates/run-computation/frontend
          - templates/search-data-repositories/frontend

    defaults:
      run:
        working-directory: ${{ matrix.package }}
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: '20'
      - name: Install taskflow dependencies
        run: npm install
      - name: Run ESLint
        run: npm run lint
      - name: Run Prettier
        if: ${{ matrix.package != 'packages/react-components' }}
        run: npm run prettier
  cypress-tests:
    runs-on: ubuntu-22.04
    strategy:
      fail-fast: false
      matrix:
        package:
          - templates/base-app/frontend
          - templates/compare-data/frontend
          - templates/contribute-data/frontend
          - templates/explore-data/frontend
          - templates/monitor-activities/frontend
          - templates/run-computation/frontend
          - templates/search-data-repositories/frontend
    defaults:
      run:
        working-directory: ${{ matrix.package }}
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      # Install npm dependencies, cache them correctly
      # and run all Cypress tests
      - name: Cypress run
        uses: cypress-io/github-action@v6
        with:
          working-directory: templates/base-app/frontend
          browser: chrome
          start: npm start
